
:root{
    --img-btn-width: 30px;
    --img-width: 1200px;
    --img-height: calc(var(--img-width)/1.78 - 22px);
}
img{
    max-width: 95%;
    min-width: 95%;
    height: auto;
    border-radius: 20px;
}
#content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}
#closingOthers{
    z-index: 15;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.2s;
    position: absolute;
    top:0;
    left:0;
}
.site-name{
    margin: calc(10vh - 10px) 0;
    color: var(--standart-green);
}
#screenshotsBody{
    position: relative;
    width: var(--img-width);
    z-index: 16;
}
.screensh-container img{
    border: 10px var(--standart-grey) solid;
    border-radius: 25px;
    width: var(--img-width);
    height: var(--img-height);
    /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
    display: block;
}

#screenshots{
    width: var(--img-width);
    overflow: hidden;
}
#need{
    height: auto;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
}
.screensh-container{
    display: inline-block;
}

.img-btn{
    position: absolute;
    display: flex;
    border-radius: 360px;
    background-color:#393844d0;
    width: var(--img-btn-width);
    height: var(--img-btn-width);
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    cursor: pointer;
}
.btn-arrow-right{
    transform: rotate(180deg);
}
.btn-arrow{
    width: auto;
    height: calc(var(--img-btn-width) - (var(--img-btn-width)/3));
}
.img-btn:hover{
    background-color: #44413879;
}
@keyframes animFlipFront {
    0%{
        transform: translateX(calc(100vw + 100px));
    }
    100%{
        transform: translateX(calc(18%-100vw));
    }
}