.bg-img{
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: -1;
    filter: brightness(60%);
    max-height: 100vh;
    
}
.first-bg-img{
    top:0;
}
/* артиклы и подсказки в main.css */
/* хидер и главный хидер в main.css */
#second-header{
    animation: animSecHeader 0.5s 1 forwards;
    position: fixed;
    width: 100%;
    top:0;
    display: none;
    z-index: var(--header-z-index);
}
#second-header .burger-menu{
    width: 70px;
    margin-right: 10px;
}
/* меню в main.css */
#blocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    margin-bottom: 5vh;
}
/* заголовки в main.css */
.section-hello__img{
    max-width: 150px;
    margin: auto;
}
.grid-left{
    display: flex;
    height: 100%;
    width: calc(300px + 20vw);
    padding-right: calc(10%);
    align-items: center;
    justify-content: end;
}
.section-hello__content-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: calc(10px + 0.5vw);
    z-index: 1;
}
.section-hello__discord-btn{
    background-color: #31343b;
    border-radius: 5px;
    border: 2px #434753 solid;
    gap: 10%;
    padding: 0 15%;
    width: 80%;
    
}
.section-hello__discord-btn:hover{
    background-color: #434753
}
.section-hello__discord-btn p{
    font-size: x-large;
    margin: 15px auto;
}
#advantages{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 0;
}
#advantages__container{
    display: flex;
    gap: 10vw;
    justify-content: center;
    width: 60%;
    padding: 10px calc(1vw + 10px);
    align-items: center;
    background-color: rgba(102, 115, 57, .87);
    border-radius: 5px;
}
.advantages__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advantages__icon{
    width: 45px;
    height: auto;
}
.advantages__text{
    text-align: center;
    font-size: 12px;
    color:#FFDF9E;
    margin-bottom: 0;
}
#section-about{
    background-color: var(--standart-grey);
    width: 80%;
    border-radius: 5px;
    margin: auto;
    padding: 0 calc(2vw + 10px);
    margin-top:calc(5vw + 10px);
}
#section-about h1{
    margin-bottom: 0;
    font-size: 27px;
    z-index: 1;
}
#section-about p{
    font-size: 17px;
    z-index: 1;
}
#section-about__bg-img-container{
    display: flex;
    width: 83%;
    justify-content: end;
    height: max-content;
    position: absolute;
}
.section-about__bg-img{
    height: 100%;
    z-index: 0;
    opacity: 50%;
    transform: rotate(-60deg);
    margin-top: 10px;
}
#section-city{
    margin: auto;
}
.section-content{
    height: 100%;
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: calc(10px + 1vw);
    width:min-content;
}
.section-city__right{
    display: flex;
    flex-direction: column;
    gap: calc(10px + 1vh);
}
.section-city__right img{
    width: 607px;
}
.section-city__img-container img{
    border-radius: 10px;
}
.img-decript{
    border-radius: 0 0 9px 9px;
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 223, 255, 0.514);
    margin-top:-38px;
}
.img-decript__text{
    margin: 5px 0;
    color: var(--standart-grey);
}
#section-parts .section-name-container{
    width: 60%;
}
#section-parts .section-name-container__right-part img{
    filter: drop-shadow(0px 0px rgb(255, 178, 178)) ;
}
#section-parts__content-up,.section-parts__content-down{
    margin: auto;
}
#section-parts .section-name-container__right-part::after, #section-parts .section-name-container__void{
    border-bottom: 3px var(--light-orange) solid;
}
#section-parts .section-name-container h1{
    color: var(--light-orange);
}
#section-parts__content-up{
    background-color: var(--standart-orange);
    display: grid;
    grid-template-columns: 1fr 60%;
    justify-content: space-between;
    min-width: 60%;
    max-width: 60%;
    min-height: 25%;
    max-height: 25%;
    max-height: max-content;
    padding: 50px 30px;
    border-radius: 10px;
}
.section-parts__content-down{
    width: 70%;
    background-color: #39362f9d;
    border-radius: 5px;
    padding: 0 calc(2vw + 10px);
    margin-top:calc(5vw + 10px);
}
.section-parts__content-down p{
    color: var(--light-orange);
}
.section-parts__left{
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.section-parts__btn{
    width: 15vw;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.13);
}
.section-parts__btn h4{
    font-size: large;
}
.selected-btn{
    background-color: #F1FFE3;
    border: 2px solid var(--standart-green);
    width: 15.1vw;
    display: grid;
    grid-template-columns: 1fr 0.07fr;
}
.selected-btn h4{
    color: var(--standart-green);
    margin-left: 5px;
}
.section-parts__btn-void{
    background-color: var(--standart-green);
    width: 100%;
    height: 100%;
    padding: 2px 0;
    border-radius: 0 5px 5px 0;
    margin-left: 10px;
    display: none;
}
#section-authority{
    margin: auto;
}
.section-authority__content{
    display: grid;
    grid-template-columns: 96vw;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    row-gap: calc(10vh + 20px);
}
.column-eq-1{
    margin: auto;
}
.column-eq-1 *{
    align-items: center;
    text-align: center;
}
.column-eq-2{
    height: fit-content;
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* .column-eq-2__first-child {
    grid-column: 2;
    justify-self: end;
    text-align: center;
    margin-left: 10px;
}
.column-eq-2__last-child {
    grid-column: 3;
    justify-self: start;
    text-align: center;
    margin-right: 10px;
} */
.column-eq-3{
    display: grid;
    align-items: center;
    width: fit-content;
    margin: auto;
    gap: 10vw;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,1fr);
}
.column-eq-3 *{
    text-align: center;
}
.section-authority__sub-section h4, .section-authority__sub-section p{
    font-family: "Monocraft";
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.section-authority__sub-section h4{
    font-size: 30px;
    margin-bottom: 10px;
}
#section-org .section-name-container{
    flex-direction: column-reverse;
    width: 30%;
    align-items: center;
}
#section-org .section-name-container h1{
    margin-top: 10px;
}
#section-org .section-name-container__right-part{
    margin-bottom: 5px;
    align-self: center;
}
#section-org .section-name-container__right-part::after{
    content: none;
}
.section-org__content{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    flex-direction: row;
}
.section-org__content img{
    max-width: 168px;
    max-height: 168px;
}
.section-org__content-fist-child{
    grid-column: 2;
    text-align: center;
    margin-left: 10px;
}
.section-org__content-last-child {
    grid-column: 3;
    text-align: center;
    margin-right: 10px;
}
.org-img{
    border-radius: 360px;
}
.org-descript{
    color: #59652E;
}
.org-name{
    font-size: x-large;
}

.onAnimCloseCat{
    animation: animCloseCat 0.5s 1 forwards;
}
.onRevAnimCloseCat{
    animation: animRevCloseCat 0.5s 1 forwards;
}
.onAnimSubCat {
    animation: animSubCategories 1s 1 forwards; /*было 2s*/
}
.onRevAnimSubCat {
    animation: revAnimSubCategories 0.1s 1 forwards; /*было 0,2s*/
}
#section-FAQ .section-name-container__right-part::after, #section-FAQ .section-name-container__void{
    border-bottom: 3px #9EB05F solid;
}
#section-FAQ .section-name-container h1{
    color: #9EB05F;
}
#section-FAQ .section-name-container__right-part img{
    filter: drop-shadow(4px 4px #adc068);
}
#section-FAQ{
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--standart-green);
    padding: 50px 30px;
    margin: 0 8vw;
    border-radius: 10px;
}
.section-FAQ__sub-section{
    background-color: var(--light-green);
    width: 80%;
    border-radius: 20px;
    padding: 10px 20px;
}
.section-FAQ__sub-section:last-child{
    margin-bottom: 30px;
}
.sub-section__header{
    border-bottom: #F4F2D7 3px solid;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.sub-section__open{
    width: 30px;
    align-self: end;
    cursor: pointer;
}
.sub-section__open,.sub-section__question{
    padding-bottom: 15px;
}
.sub-section__question{
    margin-bottom: 0;
}
/* footer в main.css */
@keyframes animSecHeader {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes animCloseCat {
    0%{
        transform: rotate(0deg);
        margin-top: 15px;
    }
    100%{  
        transform: rotate(-180deg);
        margin-bottom: 15px;
    }
}
@keyframes animRevCloseCat {
    0%{
        transform: rotate(-180deg);
        margin-bottom: 15px;
    }
    100%{  
        transform: rotate(0deg);
        margin-top: 15px;
    }
}
@keyframes revAnimSubCategories{
    0%{
        opacity: 100%;
        height: calc(100% - 120px);
        display: block;
    }
    100%{
        opacity: 0;
        height: 0%;
        display: none;
    }
}
@keyframes animSubCategories{
    0%{
        opacity: 0%;
        height: 0%;
        display: none;
    }
    75%{
        opacity: 0%;
        display: none;
    }
    100%{
        display: block;
        opacity: 100%;
        height: calc(100% - 120px);
    }
}
/* анимации меню в main.css */
@media (max-width: 1500px){
    .section-name-container{
        width: 70vw;
    }
    #section-city .section-content{
        display: flex;
        flex-direction: column;
    }
    .section-city__right{
        flex-direction: row;
    }
    .section-city__right img{
        width: calc(40vw - 20px);
    }
    .column-eq-3{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 1500px ) and (min-width:931px){
    .section-city__right{
        flex-direction: row;
    }
    .section-city__right img{
        width: calc(40vw - 20px);
    }
}
@media (max-width: 1235px){

    .section-hello__text{
        margin-right: 10px;
        font-size: 25px;
    }
    .section-hello__img{
        width: 400px;
    }
    .section-about__text{
        font-size: 25px;
    }
    .section-org__content{
        grid-template-columns: 1fr 1fr;
    }
    .section-org__content-fist-child{
        grid-column: 1;
    }
    .section-org__content-last-child{
        grid-column: 2;
    }
}
@media (max-width:930px){
    .section-city__right{
        flex-direction: column;
    }
    #section-city{
        align-items: center;
    }
    #section-city .section-content{
        width: calc(100vw - 26%);
    }
    #section-city .section-content img{
        width: 100%;
    }
    #section-parts__content-up{
        display: flex;
        flex-direction: column;
    }
    .section-parts__left{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .section-parts__btn{
        width: 30%;
    }
    .selected-btn{
        width:30.1%;
    }
    #section-parts__content-up{
        min-height: fit-content;
        padding-bottom: 0;
    }
}
@media (max-width: 849px){
    #section-hello, #section-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-hello__text, .section-about__text{
        text-align: center;
        width: 100%;
        margin:0;
        margin-bottom: 30px;
        padding: 0;
    }
    .section-about__name{
        padding: 0;
        display: flex;
        justify-content: center;
    }
}
/* @media (max-width: 849px) and (min-width: 717px){
    #main-header .burger-menu{
        width: 70px;
    }
} */

@media (max-width: 717px){
    #section-parts__content-up{
        min-width: 80%;
        max-width: 80%;
    }
}
@media (max-width: 561px){
    #second-header .burger-menu{
        width: 40px;
        height: 16px;
        margin: 0 10px;
    }
    .section-name-container{
        flex-direction: column-reverse;
        width: 50%;
        align-items: center;
    }
    .section-name-container h1{
        margin-top: 10px;
    }
    .section-name-container__right-part{
        margin-bottom: 5px;
        align-self: center;
    }
    .section-name-container__right-part::after{
        content: none;
    }
    .section-org__content{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-org__content ~*{
        margin: 0;
        margin-top: 10px;
    }
    .section-org__container{
        margin: 0;
    }
    .section-org__content img{
        width: 100px;
    }
    #section-FAQ{
        padding: 30px 0;
    }
    .section-FAQ__sub-section:last-child{
        margin-bottom: 0;
    }
}
@media (max-width: 561px) and (min-width: 401px){
    #aboutPart, .content-down__text{
        font-size: large;
    }
}
@media (max-width: 457px){
    .sub-section__open{
        width: 25px;
        height: 13px;
    }
    .grid-left{
        margin:0;
        padding: 0;
        margin-left:1vw
    }
    #advantages__container{
        width: 80%;
    }
    .section-parts__btn{
        width: 40%;
    }
    .selected-btn{
        width: 40.1%;
    }
    .section-parts__btn h4{
        margin: 10px 0;
        font-size: medium;
    }
    #section-FAQ{
        margin: 0 3vw;
    }
}
@media (max-width:400px){
    #section-about p, .section-hello__discord-btn p{
        font-size: 15px;
    }
    .section__player-name{
        font-size: 25px;
    }
    .section__player-head{
        width: 150px;
    }
    #discord-invite {
        width: auto;
        padding: 5px 20px;
        gap: 10px;
        height: auto;
    }
    .button__discord-logo {
        width: 30px;
    }
    .section-authority__sub-section h4{
        font-size: larger;
    }
    .section-hello__discord-btn{
        width: 50%;
        padding: 0 7px;
        margin: auto;
    }
    .img-decript{
        margin-top: -32px;
    }
    .advantages__body img{
        width: 30px;
    }
    .advantages__body p{
        font-size: small;
    }
    #advantages__container{
        width: 90%;
    }
    #section-FAQ{
        padding: 30px 5px;
    }
}
@media (max-width:390px){
    .grid-left{
        width: calc(100% - 10px);
    }
}