@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: "Monocraft";
    src: url(minecraftfont/Monocraft.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root{
    --standart-green: #667339;
    --standart-orange: #BE8437;
    --standart-grey: #444138;
    --standart-pink: #CEBFC4;

    --light-green:#849350;
    --light-orange: #FFDF9E;
    --light-grey: #c5c5ca;

    --header-width: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin:0;
    background-color: var(--standart-pink);
}
a{
    text-decoration: none;
}
p, figcaption, a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 20px;
    color: white;
}
h1,h2,h3,h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:white;
}
h1{
    font-size: 30px;
}
button{
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.2s;
    cursor: pointer;
}
.black-text-in-article p,h4,h3{
    color:black;
}
.bg-img{
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: -1;
    filter: brightness(60%);
    max-height: 100vh;
}
.white-text{
    color:white;
}
.orange-text{
    color: #FFDF9E;
}
.img-help{
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 0 calc(10px + 1vw);
    background-color: #5D5E65;
    display: none;
    align-items: center;
    white-space: nowrap;
}
.img-help__text{
    width: 100%;
    font-size: 17px;
}
article{
    display: flex;
    flex-direction: column;
}
article:last-child{
    margin-bottom: calc(15px + 1vw);
}
header{
    position: absolute;
    top:0;
    left:0;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(190, 132, 55, .30);
    backdrop-filter: blur(5px);
    padding: 20px 0;
    width: var(--header-width);
    z-index: 10;
}
.header__links{
    display: flex;
    justify-content: center;
    gap: calc(10px + 1vw);
}
.burger-menu{
    justify-self: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    cursor: pointer;
    max-width: 35px;
    max-height: 25px;
    border-top: white 4px solid;
    border-bottom: white 4px solid;
}
.in-burger{
    display: flex;
    width: 100%;
    background-color: white;
    height: 4px;
    margin: 6px 0;
}
#main-header .burger-menu{
    width: 120px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
#second-header{
    animation: animSecHeader 0.5s 1 forwards;
    position: fixed;
    width: 100%;
    top:0;
    display: none;
    z-index: 4;
}
#second-header .burger-menu{
    width: 70px;
    margin-right: 10px;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    display: none;
    z-index: 3;
}
.popup__body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.onPop-up{
    animation: animMenuOpen 0.5s 1 forwards;
}
.offPop-up{
    animation: animMenuClose 0.5s 1 forwards;
}
.animBurgerCont{
    animation: animBurgerMenu1 0.5s 1 forwards;
}
.animBurger{
    animation: animBurgerMenu2 0.3s 1 forwards;
}
.revAnimBurgerCont{
    animation: revAnimBurgerMenu1 0.5s 1 forwards;
}
.revAnimBurger{
    animation: revAnimBurgerMenu2 0.3s 1 forwards;
}
#menuContainer{
    display: flex;
    justify-content: end;
    height: auto;
}
#menuBody{
    background-color: #27282E;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: start;
    height: 100vh;
    width: 18%;
    max-width: 500px;
    min-width: 400px;
    min-height: 400px;
}
#blocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    margin-bottom: 5vh;
}
.section-name-container{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc(4vh + 10px);
}
.section-name-container h1{
    display: flex;
    color: var(--standart-green);
    white-space: nowrap;
    margin-bottom: 0px;
    margin-right: 5px;
}
.section-name-container__right-part::after{
    content: "";
    display: flex;
    width: 100%;
    height: 3px;
    border-bottom: 3px var(--standart-green) solid;
}
.section-name-container__right-part{
    align-self: self-end;
}
.section-name-container__void{
    display: flex;
    border-bottom: 3px var(--standart-green) solid;
    width: 99%;
    align-self: self-end;
    height: 3px;
}
.section-name-container__img{
    width: 40px;
}
.section-hello__img{
    max-width: 150px;
    margin: auto;
}
.grid-left{
    display: flex;
    height: 100%;
    width: calc(300px + 20vw);
    padding-right: calc(10%);
    align-items: center;
    justify-content: end;
}
.section-hello__content-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: calc(10px + 0.5vw);
    z-index: 1;
}
.section-hello__discord-btn{
    background-color: #31343b;
    border-radius: 5px;
    border: 2px #434753 solid;
    gap: 10%;
    padding: 0 15%;
    width: 80%;
    
}
.section-hello__discord-btn:hover{
    background-color: #434753
}
.section-hello__discord-btn p{
    font-size: x-large;
    margin: 15px auto;
}
#advantages{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 0;
}
#advantages__container{
    display: flex;
    gap: 10vw;
    justify-content: center;
    width: 60%;
    padding: 10px calc(1vw + 10px);
    align-items: center;
    background-color: rgba(102, 115, 57, .87);
    border-radius: 5px;
}
.advantages__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advantages__icon{
    width: 45px;
    height: auto;
}
.advantages__text{
    text-align: center;
    font-size: 12px;
    color:#FFDF9E;
    margin-bottom: 0;
}
#section-about{
    background-color: var(--standart-grey);
    width: 80%;
    border-radius: 5px;
    margin: auto;
    padding: 0 calc(2vw + 10px);
    margin-top:calc(5vw + 10px);
}
#section-about h1{
    margin-bottom: 0;
    font-size: 27px;
    z-index: 1;
}
#section-about p{
    font-size: 17px;
    z-index: 1;
}
#section-about__bg-img-container{
    display: flex;
    width: 83%;
    justify-content: end;
    height: max-content;
    position: absolute;
}
.section-about__bg-img{
    height: 100%;
    z-index: 0;
    opacity: 50%;
    transform: rotate(-60deg);
    margin-top: 10px;
}
#section-city{
    margin: auto;
}
.section-content{
    height: 100%;
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: calc(10px + 1vw);
    width:min-content;
}
.section-city__right{
    display: flex;
    flex-direction: column;
    gap: calc(10px + 1vh);
}
.section-city__right img{
    width: 607px;
}
.section-city__img-container img{
    border-radius: 10px;
}
.img-decript{
    border-radius: 0 0 9px 9px;
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 223, 255, 0.514);
    margin-top:-38px;
}
.img-decript__text{
    margin: 5px 0;
    color: var(--standart-grey);
}
#section-parts .section-name-container{
    width: 60%;
}
#section-parts .section-name-container__right-part img{
    filter: drop-shadow(0px 0px rgb(255, 178, 178)) ;
}
#section-parts__content-up,.section-parts__content-down{
    margin: auto;
}
#section-parts .section-name-container__right-part::after, #section-parts .section-name-container__void{
    border-bottom: 3px var(--light-orange) solid;
}
#section-parts .section-name-container h1{
    color: var(--light-orange);
}
#section-parts__content-up{
    background-color: var(--standart-orange);
    display: grid;
    grid-template-columns: 1fr 60%;
    justify-content: space-between;
    min-width: 60%;
    max-width: 60%;
    min-height: 25%;
    max-height: 25%;
    max-height: max-content;
    padding: 50px 30px;
    border-radius: 10px;
}
.section-parts__content-down{
    width: 70%;
    background-color: #39362f9d;
    border-radius: 5px;
    padding: 0 calc(2vw + 10px);
    margin-top:calc(5vw + 10px);
}
.section-parts__content-down p{
    color: var(--light-orange);
}
.section-parts__left{
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.section-parts__btn{
    width: 15vw;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.13);
}
.section-parts__btn h4{
    font-size: large;
}
.selected-btn{
    background-color: #F1FFE3;
    border: 2px solid var(--standart-green);
    width: 15.1vw;
    display: grid;
    grid-template-columns: 1fr 0.07fr;
}
.selected-btn h4{
    color: var(--standart-green);
    margin-left: 5px;
}
.section-parts__btn-void{
    background-color: var(--standart-green);
    width: 100%;
    height: 100%;
    padding: 2px 0;
    border-radius: 0 5px 5px 0;
    margin-left: 10px;
    display: none;
}
#section-authority{
    margin: auto;
}
.section-authority__content{
    display: grid;
    grid-template-columns: 96vw;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    row-gap: calc(10vh + 20px);
}
.column-eq-1{
    margin: auto;
}
.column-eq-1 *{
    align-items: center;
    text-align: center;
}
.column-eq-2{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    gap: 10vw;
}
.column-eq-2__first-child {
    grid-column: 2;
    justify-self: end;
    text-align: center;
    margin-left: 10px;
}
.column-eq-2__last-child {
    grid-column: 3;
    justify-self: start;
    text-align: center;
    margin-right: 10px;
}
.column-eq-3{
    display: grid;
    align-items: center;
    width: fit-content;
    margin: auto;
    gap: 10vw;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,1fr);
}
.column-eq-3 *{
    text-align: center;
}
.section-authority__sub-section h4, .section-authority__sub-section p{
    font-family: "Monocraft";
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.section-authority__sub-section h4{
    font-size: 30px;
    margin-bottom: 10px;
}
#section-org .section-name-container{
    flex-direction: column-reverse;
    width: 30%;
    align-items: center;
}
#section-org .section-name-container h1{
    margin-top: 10px;
}
#section-org .section-name-container__right-part{
    margin-bottom: 5px;
    align-self: center;
}
#section-org .section-name-container__right-part::after{
    content: none;
}
.section-org__content{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    flex-direction: row;
}
.section-org__content img{
    max-width: 168px;
    max-height: 168px;
}
.section-org__content-fist-child{
    grid-column: 2;
    text-align: center;
    margin-left: 10px;
}
.section-org__content-last-child {
    grid-column: 3;
    text-align: center;
    margin-right: 10px;
}
.org-img{
    border-radius: 360px;
}
.org-descript{
    color: #59652E;
}
.org-name{
    font-size: x-large;
}

.onAnimCloseCat{
    animation: animCloseCat 0.5s 1 forwards;
}
.onRevAnimCloseCat{
    animation: animRevCloseCat 0.5s 1 forwards;
}
.onAnimSubCat {
    animation: animSubCategories 1s 1 forwards; /*было 2s*/
}
.onRevAnimSubCat {
    animation: revAnimSubCategories 0.1s 1 forwards; /*было 0,2s*/
}
#contactMeBody{
    display: flex;
    justify-self: end;
    width: fit-content;
    border-radius: 20px;
    background-color: #31343b;
    justify-content: start;
    align-items: start;
    border: 2px #4c505c solid;
    height: fit-content;
}
.contactMe-btn{
    display: flex;
    gap: 10px;
    width: fit-content;
    background-color: #31343b;
    padding: 0 20px;
    height: max-content;
    border-radius: 20px;
}
.button__discord-logo{
    width: 50px;
}
#section-FAQ .section-name-container__right-part::after, #section-FAQ .section-name-container__void{
    border-bottom: 3px #9EB05F solid;
}
#section-FAQ .section-name-container h1{
    color: #9EB05F;
}
#section-FAQ .section-name-container__right-part img{
    filter: drop-shadow(4px 4px #adc068);
}
#section-FAQ{
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--standart-green);
    padding: 50px 30px;
    margin: 0 8vw;
    border-radius: 10px;
}
.section-FAQ__sub-section{
    background-color: var(--light-green);
    width: 80%;
    border-radius: 20px;
    padding: 10px 20px;
}
.section-FAQ__sub-section:last-child{
    margin-bottom: 30px;
}
.sub-section__header{
    border-bottom: #F4F2D7 3px solid;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.sub-section__open{
    width: 30px;
    align-self: end;
    cursor: pointer;
}
.sub-section__open,.sub-section__question{
    padding-bottom: 15px;
}
.sub-section__question{
    margin-bottom: 0;
}
#contactMe-btn1{
    border-radius: 18px 0 0 18px;
}
#contactMe-btn2{
    border-radius: 0 18px 18px 0;
}
.contactMe-btn:hover{
    background-color: #4c505a;
}
footer{
    background-color: #333740;
    height: max-content;
    padding: 10px 20px;
}
footer *{
    color:#c5c5ca;
}
.footer-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}
footer p>span{
    padding-bottom:0.5px;
    border-bottom: 2px solid var(--light-grey);
}
@keyframes animSecHeader {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes animCloseCat {
    0%{
        transform: rotate(0deg);
        margin-top: 15px;
    }
    100%{  
        transform: rotate(-180deg);
        margin-bottom: 15px;
    }
}
@keyframes animRevCloseCat {
    0%{
        transform: rotate(-180deg);
        margin-bottom: 15px;
    }
    100%{  
        transform: rotate(0deg);
        margin-top: 15px;
    }
}
@keyframes revAnimSubCategories{
    0%{
        opacity: 100%;
        height: calc(100% - 120px);
        display: block;
    }
    100%{
        opacity: 0;
        height: 0%;
        display: none;
    }
}
@keyframes animSubCategories{
    0%{
        opacity: 0%;
        height: 0%;
        display: none;
    }
    75%{
        opacity: 0%;
        display: none;
    }
    100%{
        display: block;
        opacity: 100%;
        height: calc(100% - 120px);
    }
}
@keyframes animMenuOpen{
    0%{
        transform: translateX(calc(100vw + 100px));
    }
    100%{
        transform: translateX(calc(18%-100vw));
    }
}
@keyframes animMenuClose{
    0%{
        transform: translateX(calc(18%-100vw));
    }
    100%{
        transform: translateX(calc(100vw + 100px));
    }
}
@keyframes animBurgerMenu1{
    0%{
        height: 25px;
    }
    50%{
        height: 0px;
    }
    100%{
        border-width: 2px;
        height: 0px;
        transform: rotate(-45deg);
    }
}
@keyframes animBurgerMenu2{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(0);
        position: absolute;
        top:0;
        left: 0;
    }
    100%{
        position: absolute;
        top:-7px;
        left:0;
        transform: rotate(90deg);
    }
}
@keyframes revAnimBurgerMenu1{
    0%{
        border-width: 2px;
        height: 0px;
        transform: rotate(-45deg);
    }
    50%{
        max-height: 0px;
    }
    100%{
        transform: rotate(0);
        max-height: 25px;
        border-width: 4px;
    }
}
@keyframes revAnimBurgerMenu2{
    0%{
        position: absolute;
        top:-7px;
        left:0;
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(0);
        position: absolute;
        top:0;
        left: 0;
    }
    100%{
        top:0;
        left: 0;
        position: relative;
        transform: rotate(0);
    }
}
@media (max-width: 1500px){
    .section-name-container{
        width: 70vw;
    }
    #section-city .section-content{
        display: flex;
        flex-direction: column;
    }
    .section-city__right{
        flex-direction: row;
    }
    .section-city__right img{
        width: calc(40vw - 20px);
    }
    .column-eq-2{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .column-eq-3{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 1500px ) and (min-width:931px){
    .section-city__right{
        flex-direction: row;
    }
    .section-city__right img{
        width: calc(40vw - 20px);
    }
}
@media (max-width: 1235px){

    .section-hello__text{
        margin-right: 10px;
        font-size: 25px;
    }
    .section-hello__img{
        width: 400px;
    }
    h1{
        font-size: 25px;
    }
    .section-about__text{
        font-size: 25px;
    }
    .footer-top{
        margin-bottom: 10px;
    }
    #contactMeBody{
        flex-direction: column;
    }
    #contactMe-btn1{
        border-radius: 18px 18px 0 0;
    }
    #contactMe-btn1 h2{
        padding-right: 8px;
    }
    #contactMe-btn2{
        border-radius: 0 0 18px 18px;
    }
    .section-org__content{
        grid-template-columns: 1fr 1fr;
    }
    .section-org__content-fist-child{
        grid-column: 1;
    }
    .section-org__content-last-child{
        grid-column: 2;
    }
}
@media (max-width:930px){
    .section-city__right{
        flex-direction: column;
    }
    #section-city{
        align-items: center;
    }
    #section-city .section-content{
        width: calc(100vw - 26%);
    }
    #section-city .section-content img{
        width: 100%;
    }
    #section-parts__content-up{
        display: flex;
        flex-direction: column;
    }
    .section-parts__left{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .section-parts__btn{
        width: 30%;
    }
    .selected-btn{
        width:30.1%;
    }
    #section-parts__content-up{
        min-height: fit-content;
        padding-bottom: 0;
    }
}
@media (max-width: 849px){
    #section-hello, #section-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-hello__text, .section-about__text{
        text-align: center;
        width: 100%;
        margin:0;
        margin-bottom: 30px;
        padding: 0;
    }
    .section-about__name{
        padding: 0;
        display: flex;
        justify-content: center;
    }
}
/* @media (max-width: 849px) and (min-width: 717px){
    #main-header .burger-menu{
        width: 70px;
    }
} */

@media (max-width: 717px){
    header{
        padding: 30px 10px;
        justify-content: space-around;
    }
}
@media (max-width: 717px) and (min-width: 561px){
    #main-header .burger-menu{
        width: 39px;
        margin-right: 10px;
    }
    header{
        padding: 30px 10px;
    }
}
@media (max-width: 561px){
    h1{
        text-align: center;
    }
    .header__links{
        gap: 10px;
    }
    .header__links a{
        font-size: 17px;
    }
    #main-header .burger-menu, #second-header .burger-menu{
        width: 28px;
        height: 16px;
        margin: 0 10px;
    }
    header{
        padding: 20px 5px;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
    }
    #section-parts__content-up{
        min-width: 80%;
        max-width: 80%;
    }
    .section-name-container{
        flex-direction: column-reverse;
        width: 50%;
        align-items: center;
    }
    .section-name-container h1{
        margin-top: 10px;
    }
    .section-name-container__right-part{
        margin-bottom: 5px;
        align-self: center;
    }
    .section-name-container__right-part::after{
        content: none;
    }
    .section-org__content{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-org__content ~*{
        margin-top: 10px;
    }
    .section-org__content img{
        width: 100px;
    }
}
@media (max-width: 457px){
    .header__links{
        gap: 7px;
    }
    img{
       
    }
    .button__discord-logo {
        width: 40px;
    }
    h1{
        text-align: center;
    }
    .sub-section__open{
        width: 25px;
        height: 13px;
    }
    .grid-left{
        margin:0;
        padding: 0;
        margin-left:1vw
    }
    #advantages__container{
        width: 80%;
    }
    .section-parts__btn{
        width: 40%;
    }
    .selected-btn{
        width: 40.1%;
    }
    .section-parts__btn h4{
        margin: 10px 0;
    }
}
@media (max-width:400px){
    p, figcaption, a{
        font-size: 15px !important;
    }
    h2,h3{
        font-size: 20px !important;
    }
    h1{
        font-size: 25px !important;
    }
    .section__player-name{
        font-size: 25px;
    }
    .section__player-head{
        width: 150px;
    }
    #discord-invite {
        width: auto;
        padding: 5px 20px;
        gap: 10px;
        height: auto;
    }
    .button__discord-logo {
        width: 30px;
    }
    .section-authority__sub-section h4{
        font-size: larger;
    }
}