@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: "Monocraft";
    src: url(minecraftfont/Monocraft.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root{
    --standart-green: #667339;
    --standart-orange: #BE8437;
    --standart-grey: #444138;
    --standart-pink: #CEBFC4;

    --light-green:#849350;
    --light-orange: #FFDF9E;
    --light-grey: #c5c5ca;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    background-color: var(--standart-pink);
}
a{
    text-decoration: none;
}
p, figcaption, a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 20px;
    color: white;
}
h1,h2,h3,h4{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:white;
}
h1{
    font-size: 30px;
}
.black-text-in-article p,h4,h3{
    color:black;
}
.bg-img{
    position: absolute;
    height: auto;
    max-height: calc(100vh - 200px);
    z-index: -1;
    filter: brightness(60%);
    object-fit: cover;
    max-height: calc(100vh - 10%);
}
.white-text{
    color:white;
}
.orange-text{
    color: #FFDF9E;
}
.img-help{
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 0 calc(10px + 1vw);
    background-color: #5D5E65;
    display: none;
    align-items: center;
    white-space: nowrap;
}
.img-help__text{
    width: 100%;
    font-size: 17px;
}
article{
    display: flex;
    flex-direction: column;
}
article:last-child{
    margin-bottom: calc(15px + 1vw);
}
header{
    position: absolute;
    top:0;
    left:0;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(190, 132, 55, .30);
    backdrop-filter: blur(5px);
    padding: 20px 0;
    width: 100%;
    z-index: 10;
}
.header__links{
    display: flex;
    justify-content: center;
    gap: calc(10px + 1vw);
}
.burger-menu{
    justify-self: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    cursor: pointer;
    max-width: 35px;
    max-height: 25px;
    border-top: white 4px solid;
    border-bottom: white 4px solid;
}
.in-burger{
    display: flex;
    width: 100%;
    background-color: white;
    height: 4px;
    margin: 6px 0;
}
#main-header .burger-menu{
    width: 120px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
#second-header{
    animation: animSecHeader 0.5s 1 forwards;
    position: fixed;
    width: 100%;
    top:0;
    display: none;
    z-index: 4;
}
#second-header .burger-menu{
    width: 70px;
    margin-right: 10px;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    display: none;
    z-index: 3;
}
.popup__body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.onPop-up{
    animation: animMenuOpen 0.5s 1 forwards;
}
.offPop-up{
    animation: animMenuClose 0.5s 1 forwards;
}
.animBurgerCont{
    animation: animBurgerMenu1 0.5s 1 forwards;
}
.animBurger{
    animation: animBurgerMenu2 0.3s 1 forwards;
}
.revAnimBurgerCont{
    animation: revAnimBurgerMenu1 0.5s 1 forwards;
}
.revAnimBurger{
    animation: revAnimBurgerMenu2 0.3s 1 forwards;
}
#menuContainer{
    display: flex;
    justify-content: end;
    height: auto;
}
#menuBody{
    background-color: #27282E;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: start;
    height: 100vh;
    width: 18%;
    max-width: 500px;
    min-width: 400px;
    min-height: 400px;
}
#blocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.section-hello__img{
    max-width: 150px;
    margin: auto;
}
.grid-left{
    display: flex;
    height: 100%;
    width: calc(300px + 20vw);
    padding-right: calc(10%);
    align-items: center;
    justify-content: end;
}
.section-hello__content-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: calc(10px + 0.5vw);
    z-index: 1;
}
.section-hello__discord-btn{
    background-color: #31343b;
    border-radius: 5px;
    border: 2px #434753 solid;
    gap: 10%;
    padding: 0 15%;
    width: 80%;
    
}
.section-hello__discord-btn p{
    font-size: x-large;
    margin: 15px auto;
}
#advantages{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 0;
}
#advantages__container{
    display: flex;
    gap: 10vw;
    justify-content: center;
    width: 60%;
    padding: 10px calc(1vw + 10px);
    align-items: center;
    background-color: rgba(102, 115, 57, .87);
    border-radius: 5px;
}
.advantages__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advantages__icon{
    width: 45px;
    height: auto;
}
.advantages__text{
    text-align: center;
    font-size: 12px;
    color:#FFDF9E;
    margin-bottom: 0;
}
#section-about{
    background-color: var(--standart-grey);
    width: 80%;
    border-radius: 5px;
    margin: auto;
    padding: 0 calc(2vw + 10px);
    margin-top:calc(5vw + 10px);
}
#section-about h1{
    margin-bottom: 0;
    font-size: 27px;
}
#section-about p{
    font-size: 17px;
}
#section-city{
    margin: auto;
}
.section-content{
    height: 100%;
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: calc(10px + 1vw);
    width:min-content;
}
.section-city__right{
    display: flex;
    flex-direction: column;
    gap: calc(10px + 1vh);
}
.section-city__img-container img{
    border-radius: 10px;
}
.img-decript{
    border-radius: 0 0 10px 10px;
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255,0.35);
    margin-top:-69px;
}
#section-parts__content-up,.section-parts__content-down{
    margin: auto;
}
#section-parts__content-up{
    background-color: var(--standart-orange);
    display: grid;
    grid-template-columns: 1fr 60%;
    justify-content: space-between;
    min-width: 60%;
    max-width: 60%;
    max-height: max-content;
    padding: 50px 30px;
    border-radius: 10px;
}
.section-parts__content-down{
    width: 70%;
    background-color: #39362f9d;
    border-radius: 5px;
    padding: 0 calc(2vw + 10px);
    margin-top:calc(5vw + 10px);
}
.section-parts__content-down p{
    color: var(--light-orange);
}
.section-parts__left{
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.section-parts__btn{
    width: 15vw;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.13);
}
.section-parts__btn h4{
    font-size: large;
}
.selected-btn{
    background-color: #F1FFE3;
    border: 2px solid var(--standart-green);
    width: 15.1vw;
    display: grid;
    grid-template-columns: 1fr 0.07fr;
}
.selected-btn h4{
    color: var(--standart-green);
    margin-left: 5px;
}
.section-parts__btn-void{
    background-color: var(--standart-green);
    width: 100%;
    height: 100%;
    padding: 2px 0;
    border-radius: 0 5px 5px 0;
    margin-left: 10px;
    display: none;
}


#contactMeBody{
    display: flex;
    justify-self: end;
    width: fit-content;
    border-radius: 20px;
    background-color: #31343b;
    justify-content: start;
    align-items: start;
    border: 2px #4c505c solid;
    height: fit-content;
}
.contactMe-btn{
    display: flex;
    gap: 10px;
    width: fit-content;
    background-color: #31343b;
    padding: 0 20px;
    height: max-content;
    border-radius: 20px;
}
button{
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.2s;
    cursor: pointer;
}

.button__discord-logo{
    width: 50px;
}
#section-FAQ{
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--standart-green);
    padding: 50px 30px;
    margin: 0 8vw;
    border-radius: 10px;
}
.section-FAQ__sub-section{
    background-color: var(--light-green);
    width: 80%;
    border-radius: 20px;
    padding: 10px 20px;
}
.section-FAQ__sub-section:last-child{
    margin-bottom: 30px;
}
.sub-section__header{
    border-bottom: #F4F2D7 3px solid;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.sub-section__open{
    width: 30px;
    align-self: end;
    cursor: pointer;
}
.sub-section__open,.sub-section__question{
    padding-bottom: 15px;
}
.sub-section__question{
    margin-bottom: 0;
}
#contactMe-btn1{
    border-radius: 18px 0 0 18px;
}
#contactMe-btn2{
    border-radius: 0 18px 18px 0;
}
.contactMe-btn:hover{
    background-color: #4c505a;
}
footer{
    background-color: #333740;
    height: max-content;
    padding: 10px 20px;
}
footer *{
    color:#c5c5ca;
}
.footer-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}
footer p>span{
    padding-bottom:0.5px;
    border-bottom: 2px solid var(--light-grey);
}